
<div class="m-1">
  <div class="mb-3">
    <label for="website" class="form-label">Domain Name</label>
    <input type="text" class="form-control" id="website" name="website" placeholder="example.com">
  </div>

  <div class="mb-3">
    <label for="website" class="form-label">Port</label>
    <input type="text" class="form-control" id="port" name="port" placeholder="8080">
  </div>

  <button onclick="createwebsite()" class="btn btn-primary" >Create Website</button>
</div>
<hr>
<div id="output" class="output-terminal mb-3 rounded-2" style="max-height: 60vh; overflow-y: auto;">
    🌍 Log things here...
  </div>

<script>
    function createwebsite() {
       
        var website = document.getElementById('website').value
        var port = document.getElementById('port').value


        document.getElementById('command').value =
        `curl -o createwebsite.sh https://admin.kamingo.in/createwebsite.sh \n chmod +x createwebsite.sh \n ./createwebsite.sh ${website} ${port} `
        document.getElementById('exe').click()

        // document.getElementById('apps').click()


    }
</script>
