
<div class="col  d-flex  ">
    <div class="ms-auto">
      <a class="btn btn-primary  m-2" id="createFolderButton"><i class="fa-solid fa-folder-plus"></i> Add Folder</a>
      <a class="btn btn-primary  m-2" id="createFileButton"><i class="fa-solid fa-square-plus"></i> Add File</a>
      
    </div>

</div>
