<form class="p-2">
    <div class="mb-3">
        <label for="gitUrl" class="form-label">App File (ex.server.js)</label>
        <input type="text" class="form-control" id="appname" name="appname" placeholder="server.js">
    </div>
    <div class="mb-3">
        <label for="gitUrl" class="form-label">Git URL</label>
        <input type="text" class="form-control" id="gitUrl" name="gitUrl" placeholder="Enter Git URL">
    </div>
    <button type="submit" class="btn btn-primary">Create App</button>
</form>