<div class="row">
    <div class="col">
        <p id="path" class="text-light" ></p>

        <div class="d-flex ">
            <input class="form-control form-control-sm me-2 " type="text" placeholder="npm start" style="max-width: 500px;">
            <button class="btn btn-primary btn-sm">START PM2 APPLICATION </button>
        </div>

    </div>




</div>




<script>
  
    document.getElementById('path').innerHTML = dir
</script>