<script src="scripts/fileeditor.js"></script>

<div class="row">
    <div class="col" style=" min-width: 300px;">
        <code id="path" class="text-light " ></code>
        
        <!-- <div class="d-flex ">
            <input class="form-control form-control-sm me-2 " type="text" placeholder="npm start" style="max-width: 500px;">
            <button class="btn btn-primary btn-sm">START PM2 APPLICATION </button>
        </div> -->

        <div class=" p-1 d-flex" id="files-tab" style="overflow-x: auto; max-width: 1200px;">
           
           
        </div>
    </div>




</div>



<script>
  
    document.getElementById('path').innerHTML = dir
</script>