<div class="row">
    <div class="col">
        <a class="btn btn-dark m-1" onclick="back()"><i class="fa-solid fa-arrow-left"></i></a>
        <a class="btn btn-dark m-1"><i class="fa-solid fa-arrow-right"></i></a>

    </div>


  
</div>
<hr>

<div class=" row ">


<style>
    .folder{
        cursor: pointer;
    }
</style>

<% folder.forEach(element => { %>
  
        <div class="col-6 d-flex shadow-sm  rounded-4 bg-dark p-2  m-1"  style="max-width: 22rem; min-width: 22rem;">
            
            <h5 class="m-0 fw-bold text-light folder" data-foldername="<%= element %>" onclick="cd(this)" ><%= element %></h5>

           
            <a  onclick="deleteapp(this)" data-folder="<%= element %>"  class=" btn btn-danger ms-auto"><i class="fa-solid fa-trash"></i></a>


        </div>  

    
<% }) %>

<hr>
<div id="output" class="output-terminal mb-3 rounded-2" style="max-height: 60vh; overflow-y: auto;">
  🤠 Log things here...
</div>
</div>  







<form  style="display: none;" class="mb-4">

    <div class="mb-3">
        <label for="command" class="form-label">Command:</label>

        <textarea class="form-control text-light" name="dir" id="dir" cols="30" rows="10" style="background-color: black;" ></textarea>
    </div>
    <button class="btn btn-light btn-sm mt-2" type="submit"  hx-post="/changedir" hx-trigger="click" id="dirbtn" hx-target="#home">Execute Command</button>

</form>



<script>
 

    function deleteapp(button) {
        const folder = button.getAttribute('data-folder');
        document.getElementById('dir').value = `rm -r ${path}${folder}`;
        document.getElementById('dirbtn').click();
    }

    function cd(button) {
        const foldername = button.getAttribute('data-foldername');
        console.log(foldername);
        document.getElementById('dir').value = `cd ${path}${foldername}/ && ls`;
        path += `${foldername}/`;

        console.log(path);
        document.getElementById('dirbtn').click();
    }

    function back() {
        const pathParts = path.split('/');
       
        
        if (pathParts.length > 2) {
            path = pathParts.slice(0, -2).join('/') + '/';
        } else {
            path = '/';
        }
        document.getElementById('dir').value = `cd ${path} && ls`;
        console.log(path , back);
        document.getElementById('dirbtn').click();
    }
</script>

