
    <input type="text" class="form-control mx-2" id="pathcmd" style="max-width: 480px;" placeholder="Execute Commands....">
    <div class="">
        <a class="btn btn-primary  ms-2" onclick="pathcmd()"><i class="fa-solid fa-code"></i></a>

    </div>
