<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Your website content goes here -->
    
    <!-- Footer -->
    <footer class="bg-dark text-light py-4 mt-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Contact Us</h4>
                    <a href="mailto:rajvendrarahi126@gmail.com" class="text-white">Email: rajvendrarahi126@gmail.com</a>
                    <br>
                    <a href="tel:+918109204371" class="text-light">Contact: +918109204371</a>
                   
                </div>
                <div class="col-md-6 text-center">
                    <h4>Follow Us</h4>
                    <ul class="list-inline social-media">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/"><i class="fab fa-linkedin"></i></a></li>
                        <li class="list-inline-item"><a href="https://twitter.com/RajvendraRahi"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.facebook.com/rajvendra.rahi"><i class="fab fa-facebook"></i></a></li>
                        <!-- Add more social media icons as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

    <!-- Add your scripts and Bootstrap JS links here -->

</body>
</html>
