<div class=" row ">
<% folder.forEach(element => { %>
  
        <div class="col-6 d-flex shadow-sm rounded-4 bg-dark p-2  m-1" style="max-width: 22rem; min-width: 22rem;">
            <h5 class="m-0 fw-bold text-light" ><%= element %></h5>

           
            <a href="" class=" btn btn-danger ms-auto"><i class="fa-solid fa-trash"></i></a>


        </div>  

    
<% }) %>
</div>  