<nav class="navbar navbar-expand-lg navbar-light bg-white" style="font-family: 'Rubik', sans-serif;">
  <a class="navbar-brand me-auto " href="#">
        
    <h3 class="fw-bold " style="color: cadetblue;" > 
      <img src="kadmin.png" alt="" width="40px" srcset=""> 
      KADMIN.ONLINE</h3>
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#">HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/#pricing">PRICING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mr-2" href="/#features">FEATURES</a>
      </li>
      <li class="nav-item dropdown">
        <div class="row text-center">
          <div>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">GET KADMIN</button>
          </div>
      </div>
      </li>
     
    </ul>
   
  </div>
</nav>


