
<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSH Web Interface</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <h1>SSH Web Interface</h1>

    <% servers.forEach(element => { %>
        <% if (element != "") { %>

            <div class="border p-2 rounded m-1" >
                <h5><%= element.split('@')[1] %></h5>
 
                <a href="/dashboard/<%= element.split('@')[0] %>" class="btn btn-success">Connect</a>
            </div>


        <% } %>
    <% }) %>

    <form hx-post="/sandboxconnect" enctype="multipart/form-data">
        <!-- <label for="id">ID:</label>
        <input type="text" name="id" required><br> -->


        
        <label for="host">Host:</label>
        <input type="text" name="host" required><br>

        <label for="user">User:</label>
        <input type="text" name="user" required><br>

        <label for="privateKey">Private Key:</label>
        <input type="file" name="privateKey" accept="" required><br>

        <button type="submit">Connect</button>
    </form>

    <hr>

    <h2>Execute Command</h2>
    <form id="executeForm">
        <label for="command">user:</label>
        <textarea type="text" id="id" name="command" required></textarea>
        <label for="command">Command:</label>
        <textarea type="text" id="command" name="command" required></textarea>
        <button type="button" onclick="executeCommand()">Execute</button>
    </form>

    <div id="output"></div>

    
    <script>
    
    // function submitSSHForm(event) {
    //     event.preventDefault();

    //     var formData = new FormData(document.getElementById("sshForm"));
    //     var user = "<%= locals.id %>" // Replace with the actual username

    //     var xhr = new XMLHttpRequest();
    //     xhr.open("POST", "https://kapi.kadmin.online/connect", true);

    //     xhr.onreadystatechange = function () {
    //         if (xhr.readyState == 4) {
    //             if (xhr.status == 200) {
    //                 document.getElementById("output").innerText = xhr.responseText;
    //             } else {
    //                 console.error("Error:", xhr.status, xhr.statusText);
    //             }
    //         }
    //     };

    //     xhr.send(formData);
    // }


        function executeCommand() {
            var command = document.getElementById("command").value;
            var user = "ioP7utw963eL4GPShrX0"  // Replace with the actual username

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://kapi.kadmin.online/execute/" + user, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("output").innerText = xhr.responseText;
                }
            };

            xhr.send("command=" + encodeURIComponent(command));
        }
    </script>
</body>
</html>
