
<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
    <%- include('./header.ejs') %>




<style>
    .form-control{
        border-radius: 0;
        box-shadow: 4px 4px black;
    }
</style>

<body style="font-family: 'Rubik', sans-serif;background-color: #343541;">
   
    <div class="container text-light">

      <div class="row d-flex  " style="height: 80vh;">
        <div class="col m-auto" style="max-width: 500px;" >
            <% servers.forEach(element => { %>
            <% if (element != "") { %>
              <h6 class="text-muted">Already Connected </h6>
            <div class=" p-2 rounded m-1 d-flex bg-dark">
              
              <a class=" me-auto my-auto" href=""><img class="rounded-circle border" width="30px" src="<%= user.picture %>" alt=""></a>
              <a href="/dashboard" class="btn btn-success">Connect</a>
            </div>
  
  
            <% } %>
            <% }) %>
  
            <hr>
            <form hx-post="/sandboxconnect" enctype="multipart/form-data">
              <!-- <label for="id">ID:</label>
              <input type="text" name="id" required><br> -->
  
  
  
              <label for="host">HOST</label>
              <input class="form-control form-control-sm" type="text" name="host" required><br>
  
              <label for="user">USER</label>
              <input class="form-control form-control-sm" type="text" name="user" required><br>
  
              <label for="privateKey">PRIVATE KEY</label>
              <input class="form-control form-control-sm" type="file" name="privateKey" accept="" required><br>
  
              <button class="btn btn-primary btn-sm" type="submit">Connect</button>
            </form>
            <hr>
            <p  >WE DO NOT SAVE ANY INFORMATION OF YOURS ALSO EVERYTHING IS END TO END ENCRYPTED ! ❤️ </p>
          </div>
      </div>

    </div>

    


    
    <script>

        
        function executeCommand() {
            var command = document.getElementById("command").value;
            var user = "ioP7utw963eL4GPShrX0"  // Replace with the actual username

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://kapi.kadmin.online/execute/" + user, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("output").innerText = xhr.responseText;
                }
            };

            xhr.send("command=" + encodeURIComponent(command));
        }
    </script>
</body>
</html>
