<ul class="list-group ">
  <li class="list-group-item"><a class="btn btn-green " hx-get="/status" hx-target="#home" onclick="toggleSidePanel()"  ><i class="fa-solid fa-gauge"></i> Dashboard</a></li>

  <li class="list-group-item "> <a class="btn btn-green" href="/terminal" target="_blank"><i class="fa-solid fa-terminal" ></i> Terminal</a> </li>

  <li class="list-group-item "> <a class="btn btn-green" hx-get="/apps" hx-target="#home" id="apps" onclick="toggleSidePanel()" ><i class="fa-solid fa-laptop-code"></i> Pm2 Apps</a> </li>
  <li class="list-group-item "> <a class="btn btn-green" hx-get="/folders" hx-target="#home" id="folder" onclick="toggleSidePanel()"><i class="fa-solid fa-folder"></i> Folders</a> </li>

  <li class="list-group-item "> <a class="btn btn-green" hx-get="/scripts" hx-target="#home" id="folder" onclick="toggleSidePanel()"><i class="fa-solid fa-gear"></i> Scripts</a> </li>

  <li class="list-group-item ">
    <a class="btn btn-green" hx-get="/website" hx-target="#home" onclick="toggleSidePanel()">
      <i class="fa-solid fa-globe"></i> Website
    </a>
  </li>

  <li class="list-group-item "> <a class="btn btn-green" hx-get="/sqlite" hx-target="#home"><i class="fa-solid fa-database" onclick="toggleSidePanel()"></i> SQLite3</a> </li>
  <li class="list-group-item "> <a class="btn btn-warning" href="/sandbox" hx-target="#home"><i class="fa-solid fa-flask" onclick="toggleSidePanel()"></i> Beta</a> </li>
  <li class="list-group-item "> <a class="btn btn-green" href="/logout" hx-target="#home"><i class="fa-solid fa-user" onclick="toggleSidePanel()"></i> Logout</a> </li>

</ul>