<ul class="list-group ">
  <li class="list-group-item"><a class="btn btn-primary " hx-get="/status" hx-target="#home" onclick="toggleSidePanel()" ><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
  <!-- <li class="list-group-item "> <a class="btn btn-primary" href="/terminal" target="_blank"><i class="fa-solid fa-terminal"></i> Terminal</a> </li> -->

  <li class="list-group-item "> <a class="btn btn-primary" hx-get="/apps" hx-target="#home" id="apps" onclick="toggleSidePanel()" ><i class="fa-solid fa-laptop-code"></i> Pm2 Apps</a> </li>
  <li class="list-group-item "> <a class="btn btn-primary" hx-get="/folders" hx-target="#home" id="folder" onclick="toggleSidePanel()"><i class="fa-solid fa-folder"></i> Folders</a> </li>

  <li class="list-group-item "> <a class="btn btn-primary" hx-get="/scripts" hx-target="#home" id="folder" onclick="toggleSidePanel()"><i class="fa-solid fa-gear"></i> Scripts</a> </li>

  <li class="list-group-item ">
    <a class="btn btn-primary" hx-get="/website" hx-target="#home" onclick="toggleSidePanel()">
      <i class="fa-solid fa-globe"></i> Website
    </a>
  </li>

  <li class="list-group-item "> <a class="btn btn-primary" hx-get="/sqlite" hx-target="#home"><i class="fa-solid fa-database" onclick="toggleSidePanel()"></i> SQLite3</a> </li>

</ul>