
<form style="display: none;" class="mb-4">

  <div class="mb-3">
      <label for="command" class="form-label">Command:</label>

      <textarea class="form-control text-light" name="command" id="cmd" cols="30" rows="10" style="background-color: black;" ></textarea>

  </div>
  <button class="btn btn-light btn-sm mt-2" type="submit"  hx-post="/execute" id="execute" hx-target="#status">Execute Command</button>

</form>




<!-- <form hx-post="/cronjob" hx-target="#output">
  <input type="text" id="cron" name="cron">
  <button type="submit" onclick="">submit</button>
</form> -->


<div id="status" class="output-terminal mb-3 rounded-2" style="max-height: 60vh; overflow-y: auto;">
   🌟 Stauts Here...
</div>

<%- include('./schedule.ejs') %>

<div class="mb-3">
  <a class="btn btn-primary" onclick="setup()" ><i class="fa-solid fa-gears"></i> Setup Server</a>

</div>


<script>
    setInterval(function() {
      if (document.getElementById('cmd') !== null) {

      document.getElementById('cmd').value = 'top -b -n 1 | grep -E "^(%Cpu|MiB Mem|MiB Swap)"';
      document.getElementById('execute').click();
    }
  }, 3000);
  
  function setup() {
    document.getElementById('command').value = `mkdir /root/app && sudo apt install nginx -y && sudo apt install ufw -y`;
    document.getElementById('exe').click();
  }


// function cron() {



//   var corn = document.getElementById('cron').value

//   var task = `(crontab -l | grep '/mount/share/script.py') || { crontab -l; '*/1 * * * * some_user python /mount/share/script.py >> /root/crontab 2>&1'; } | crontab -`
//   console.log(task);
//   document.getElementById('command').value = task ;
//   document.getElementById('exe').click();

// }




</script>



