
<div class="row text-light">
    <div class="col p-1">
        <div class="m-1 mb-2">
           
            <button class="btn  btn-success" onclick="setupserver(this)" id="saveButton"><i class="fa-solid fa-wand-magic-sparkles"></i> Setup Server</button>
           
          </div>
          <hr>

          <p class="m-0 text-muted ms-3">Intall Sapratly</p>
         
          <div class="m-1">
            <button class="btn btn-sm btn-danger ms-3" onclick="nodejs(this)" id="saveButton"><i class="fa-brands fa-node"></i> Install Nodejs</button>
        
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-danger ms-3" onclick="nginx(this)" id="saveButton"><i class="fa-solid fa-server"></i> Install Nginx</button>
        
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-danger ms-3" onclick="npm(this)" id="saveButton"><i class="fa-solid fa-gear"></i> Install NPM and PM2</button>
        
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-danger ms-3" onclick="python(this)" id="saveButton"><i class="fa-brands fa-python"></i> Install Python</button>
        
          </div>
          <div class="m-1">
            <button class="btn btn-sm btn-danger ms-3" onclick="git(this)" id="saveButton"><i class="fa-brands fa-git-alt"></i> Install Git</button>
        
          </div>
          <hr>
    </div>
</div>
<div class="row text-light" >
  <pre id="logs" style="height: 50vh;  overflow-y: auto; "></pre>
</div>


<script>
    async function setupserver(el) {
        var name = el.innerHTML
        el.innerHTML = '<i class="fas fa-spinner fa-spin "></i> Be Patient it will take a while...'

        const data = await execute(`sudo apt-cache install git -y \nsudo apt-get install nodejs -y\nsudo apt-get install npm -y\nnpm install pm2 -g\n sudo apt-get install nginx -y\nsudo apt-get install jq -y\napt-get install pyhton3 -y`)
        console.log(data);
        document.getElementById('logs').innerHTML = data


        el.innerHTML = `<i class="fa-solid fa-circle-check"></i> Done..` 
    }
</script>