<style>
    .form-control{
        border-radius: 0;
        
    }
</style>

<div class="row p-1">
    <div class="col text-light ">
        <h1 >Websites</h1>
        <div class="mt-2 bg-dark p-2 rounded-2" id="websites">
          
        </div>
    </div>

  
</div>

<div class="row">
    <div class="col-md-4 text-light p-3 bg-dark mx-md-3 rounded-2">
        <label for="domain">Domain Name</label>
        <input type="text"  class="form-control form-control-sm mb-2" id="domain" placeholder="Example.com">
        <label for="port">Port</label>
        <input type="text" class="form-control form-control-sm mb-2" id="port" placeholder="8080">
        <button class="btn btn-primary btn-sm" onclick="createwebsite(this)">Create</button>
    </div>
</div>


<script>
    async function createwebsite(el) {
       
       var website = document.getElementById('domain').value
       var port = document.getElementById('port').value

       var name = el.innerHTML
        el.innerHTML = '<i class="fas fa-spinner fa-spin "></i>'
        // console.log(`echo '${editor.getValue()}' > ${dir+file}`);
        const data = await execute(`curl -o createwebsite.sh https://kadmin.online/createwebsite.sh \n chmod +x createwebsite.sh \n ./createwebsite.sh ${website} ${port} `)
        
      
        console.log(data);
        el.innerHTML = name 
   }


   showwebsites(document.getElementById('websites'))
   async function showwebsites(el) {


   var data = await execute(`cd /etc/nginx/sites-enabled/ \n ls `)

   const websites = data.split('\n')
   
   websites.forEach(element => {
    if (element && element !== 'default') {
        el.innerHTML += `<a class="btn btn-sm btn-success m-1 " href="https://${element}" target="_blank">${element}</a> <button class="btn btn-primary btn-sm" onclick="createwebsite(this)">Enable ssl</button>  <br>` 

    }
   });

   
   }
</script>