

  <div id="editor" style="height: 75vh;"></div>
  <div class="m-2">
    <button class="btn btn-primary" onclick="saveFile(this)" id="saveButton"><i class="fa-solid fa-floppy-disk"></i></button>

  </div>


<script>


editor = '';

    
require.config({ paths: { 'vs': 'https://unpkg.com/monaco-editor@0.30.1/min/vs' } });
require(['vs/editor/editor.main'], async function () {
    editor = monaco.editor.create(document.getElementById('editor'), {
        value: '',
        language: 'plaintext'
    });
});





async function saveFile(el) {
    var name = el.innerHTML
    el.innerHTML = '<i class="fas fa-spinner fa-spin "></i>'
    console.log(`echo '${editor.getValue()}' > ${dir+file}`);
    const data = await execute(`echo '${editor.getValue()}' > ${dir+file}`)
    console.log(data);
    el.innerHTML = name 

    
    }

</script>
