



<div class="input-group flex-nowrap  my-1 sticky-top ">
  <!-- <input type="text" class="form-control" placeholder="Username" > -->
  

  <button>Back</button>
  <button>Home</button>
  <input type="text" class="form-control" id="filterInput" placeholder="Type to Search" aria-label="Username" aria-describedby="addon-wrapping" 
  style="font-size: 0.7rem; border-radius: 0;"
  >
  <!-- <span class="input-group-text" id="addon-wrapping"> 
    <i class="fa-solid fa-magnifying-glass m-auto  " style="font-size: 1rem; color: rgb(42, 97, 99);"></i> 
  </span> -->

</div>
<hr>
<div class="row" >





<div class=" col-2 p-3 " id="explorer" style="height: 80vh;  overflow-y: auto;" >
    <% folders.forEach((element , index) => { %>
        <% if (index >2) { %>
            <% let parts = element.split(" "); %>
            <% let name = parts[parts.length - 1]; %>
            <p onclick="cd(this)" type="button" <%= parts[0].includes("d") ? "" : `hx-get=/testfileditor hx-trigger=click hx-target=#file hx-swap=innerHTML `  %> data-type="<%= parts[0].includes("d") ? "dic" : "file"  %>"   class="text-light " ><%= name %>
                
            </p>
        <% } %>
     
    <% }) %>
</div>

<div class="col-10">
  <div id="file" style="height: 75vh;"></div>

</div>


</div>
  



<textarea  hx-post="/testchangedic" hx-trigger="click" hx-target="#output" name="command" id="changedir" style="display: none;" ></textarea>



<script>
let dir = '/root/';
let editor


let file =''




async function cd(el) {
    const type = el.getAttribute('data-type');

    if (type === "dic") {
        const currentDir = el.innerHTML.trim();
        dir += currentDir + '/';

        const command = `cd ${dir}\nls -la`;
        console.log(command);
        console.log(dir);

        document.getElementById('changedir').innerHTML = command;
        document.getElementById('changedir').click();
    }else{
     
  
      readfile(el)
      file = el.innerHTML

    }
}

</script>



<script>
    document.getElementById('filterInput').addEventListener('input', function() {
      var filterValue = this.value.toLowerCase(); // Get the value entered by the user and convert it to lowercase for case-insensitive filtering
      var itemList = document.getElementById('explorer');
      var items = itemList.getElementsByTagName('p');
  
      Array.from(items).forEach(function(item) {
        var text = item.textContent.toLowerCase();
        if (text.indexOf(filterValue) > -1) {
          item.style.display = 'block'; // Show the item if the text matches the filter
        } else {
          item.style.display = 'none'; // Hide the item if the text does not match the filter
        }
      });

      
    });


</script>


<script>
  
  async function readfile(el) {
  var name = el.innerHTML
  console.log(`cd ${dir.trim()}\ncat ${el.innerHTML.trim()}`);
  const data = await execute(`cd ${dir}\ncat ${el.innerHTML.trim()}` )


  setTimeout(function () {
            editor.setValue(data);
        }, 10); // 100 milliseconds (0.1 seconds) delay


  el.innerHTML = name

  }
      

</script>

