<style>
  .context-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 150px;
    z-index: 1000;
    border-radius: 0.2rem;

  }


  .context-menu-item {
    padding: 8px 12px;
    cursor: pointer;
  }

  .context-menu-item:hover {
    background-color: #0D6EFD;
    border-radius: 0.2rem;

    color: white;

  }

  .sub-menu {
    display: none;
    position: absolute;
    width: 150px;
    background-color: #fff;
    top: 0;
    left: 100%;
    color: black;

  }

  .context-menu-item:hover .sub-menu {
    display: block;
  }

  #recents {
    overflow-x: auto;
    white-space: nowrap;
    /* Ensures that the content doesn't wrap to the next line */
    max-width: 100%;
    /* Adjust this if you want a specific width */
  }
</style>


<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.33.0/ace.js" integrity="sha512-URPfGhr6DbWFJqw32VeD4h9c1Q8CMWJGtU34IOEbOlEJpH5PIhTvD7PL4dfcWBs5731pYSc0mtW+nlfLdHmueQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="scripts/explorer.js"></script>


<div class="row" style="height: 100%;">


  <div class="  col px-1 d-flex flex-column " id="folderslist" style="max-width: 400px; height: 100%; ">
    <%- include('./folderslist.ejs') %>
  </div>




  <div class="col">
    <div id="" style="height: 75vh;">
      <%- include('./foldersettings.ejs') %>

      <div class="" id="file">

      </div>


    </div>



  </div>


</div>


<textarea hx-post="/testchangedic" hx-trigger="click" hx-target="#folderslist" name="command" id="changelist" style="display: none;"></textarea>

<textarea hx-post="/testchangedic" hx-trigger="click" hx-target="#output" name="command" id="changedir" style="display: none;"></textarea>