






<div class="d-flex">
  <div class="m-1 ">
    <button class="btn btn-sm btn-primary" onclick="saveFile(this)" id="saveButton"><i class="fa-solid fa-asterisk" id="asterisk" style="display: none; font-size: 0.5rem;"></i><i class="fa-solid fa-floppy-disk"></i></button>

  </div>
  <div class="m-1">
    <button class="btn btn-sm btn-success" onclick="saveFile(this)" id="playButton"><i class="fa-solid fa-circle-play"></i></button>

  </div>

  <div class="m-1">

    <select class="form-select form-select-sm" id="mySelect">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
    </select>
  </div>
  <p class="m-auto text-light"><span id="filename"></span></p>
  <div class="m-1">
    <button class="btn btn-sm btn-dark" onclick="deletefile(this)" id="saveButton"><i class="fa-solid fa-trash"></i></button>

  </div>


  <style type="text/css" media="screen">
    #editor {}
  </style>



</div>



<div id="editor" style="height: 75vh; font-size: 1rem;"></div>