<!DOCTYPE html>
<html lang="en">
<%- include('./header.ejs') %>

<body style="font-family: 'Inclusive Sans', sans-serif; background-color: #343541;" >

    
  <div class="container-fluid">
    
    


    <div class="row"  >
        <div class="col-1 bg-black">
            <button class=" btn btn-green bg-light" hx-get="/testapps" hx-trigger="mouseover" onclick="toggle()" hx-target="#output">
                PM2 APPS
              </button>
          
        </div>
        <div class="col-11" id="output" style="display: none;">
            
        </div>
        <div id="log" class="">

        </div>
    </div>
  </div>
</body>


<script>
  function toggle() {
    var output = document.getElementById('output');
    output.style.display = (output.style.display === 'block') ? 'none' : 'block';
  }
</script>



<script>
     function executeCommand(command , out) {
            // var command = document.getElementById("command").value;
            var user = "<%= server %>"  // Replace with the actual username

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "https://kapi.kadmin.online/execute/" + user, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById(out).innerText = xhr.responseText;
                }
            };

            xhr.send("command=" + encodeURIComponent(command));
        }
</script>




</html>