


<div class="row text-light">
  <div class="col mb-2">
           <h2 style="font-family: 'Rubik', sans-serif;" class="fw-bold m-1" >Setup Your Server</h2>
           <p class="text-muted m-1" >This will Install all the required programs : Nginx , Git , Nodejs , Pm2 , Python</p>
    <button class="btn  btn-primary ms-1" onclick="setupserver(this)" id="saveButton"><i class="fa-solid fa-wand-magic-sparkles"></i> Setup Server</button>
    <hr>

  </div>
  
</div>

<div class="row text-light">
  <div class="col mb-2">
           <h2 style="font-family: 'Rubik', sans-serif;" class="fw-bold m-1" >Monitor Your Server</h2>
           <p class="text-muted m-1" >This will Install all the required programs : Nginx , Git , Nodejs , Pm2 , Python</p>
    <a class="btn  btn-primary ms-1"  href="/monitor" target="_blank" ><i class="fa-solid fa-chart-line"></i> Monitor Server</a>
    <hr>

  </div>
  
</div>




<div class="row text-light" style="max-height: 50vh;  overflow-y: auto; ">
  <pre id="logs" ></pre>
</div>



<script>
    async function setupserver(el) {
        var name = el.innerHTML
        el.innerHTML = '<i class="fas fa-spinner fa-spin "></i> Be Patient it will take a while...'

        const data = await execute(`sudo apt-cache install git -y \nsudo apt-get install nodejs -y\nsudo apt-get install npm -y\nnpm install pm2 -g\n sudo apt-get install nginx -y\nsudo apt-get install jq -y\napt-get install pyhton3 -y`)
        console.log(data);
        document.getElementById('logs').innerHTML = data


        el.innerHTML = `<i class="fa-solid fa-circle-check"></i> Done..` 
    }
</script>



