<form action="/query" method="post">
    <select name="dbquery" id="dbquery">
    <% db.forEach(element => { %>
            <option value="<%= element %>"><%= element %></option>
         
    <% }) %>
    </select>

    <input type="text" name="query" id="query" value="">
    <br>
    <button type="submit">query</button>
</form>

<script>
    const dbSelect = document.getElementById('dbquery');
    const queryInput = document.getElementById('query');

    
    const selectedValue = dbSelect.value.replace('.db' , '');

    const query = `SELECT * FROM ${selectedValue}`;
    queryInput.value = query;

    dbSelect.addEventListener('change', () => {

        const selectedValue = dbSelect.value.replace('.db' , '');

        const query = `SELECT * FROM ${selectedValue}`;
        queryInput.value = query;
    });
</script>