

<% folder.forEach(element => { %>
    <div class="p-2 border m-2 folder rounded-3 shadow-sm" hx-get="/folders/<%= element %>" hx-trigger="click" hx-target="#folders"    id="<%= element %>">
        <p class="m-0"><%= element %></p>
    </div>
<% }) %>

<!-- <script>
    function cd(div) {
        const newUrl =`/folders/${div.innerText}`; // Use innerText to get the content of the clicked div
        const folders = document.getElementById('folders'); // Update the reference to the parent element
        folders.setAttribute('hx-get', newUrl);
    }
</script> -->

