<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>


<style>
  .img {
    width: 100%;
    height: 40vh;
    text-align: center;
    color: rgb(0, 0, 0);
    transition: color 0.5s;
    /* Add a transition effect for color change */
    overflow: hidden;
    position: relative;

    background-repeat: no-repeat;
  }

  .img:hover {
    color: rgb(3, 132, 172);
    /* Change the text color on hover */
  }

  .animated-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #FF5733, #33FFBD, #3333FF, #FF33FF, #33FF33, #FFD033);
    /* Define your gradient colors here */
    background-size: 600% 600%;
    animation: animatedBackground 10s linear infinite;
    opacity: 0.2;
    /* Adjust the duration and timing function as needed */
  }

  @keyframes animatedBackground {
    0% {
      background-position: 100% 0;
    }

    100% {
      background-position: -100% 0;
    }
  }


  body {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.06'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .shield {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.09'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }


  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: #006280;
  }

  .nav-link {
    font-size: 1rem;
  }

  .card {
    color: white;
    background-color: black;

  }

  .card:hover {

    color: black;
    background-color: rgb(252, 207, 85);

  }

  .checker {

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  }
</style>


<body class="bg-black text-light" style="font-family: 'Rubik', sans-serif;">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P7V7QPRG" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->



  <nav class="navbar navbar-expand-lg  navbar-dark      " style="">
    <div class="container-fluid ">
      <div class=" justify-content-center d-flex">
        <img src="kadmin.png" class="me-2" alt="" srcset="" width="40px">
        <a class="navbar-brand fw-bold " href="#">KADMIN</a>
      </div>

      <button class="navbar-toggler  " type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarText">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
          <li class="nav-item mx-3">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item mx-3 ">
            <a class="nav-link" href="/#features">Features</a>
          </li>
          <li class="nav-item mx-3 ">
            <a class="nav-link" href="#">Pricing</a>
          </li>

          <li class="nav-item mx-3 ">
            <a class="nav-link" href="#">Blogs</a>
          </li>
        </ul>


        <% if (isauth) { %>
        <a href="/logout" class="btn btn-light  me-2 d-flex">
          <p class="m-auto">Logout</p>
        </a>
        <a href="/server" class="btn btn-light d-flex">
          <p class="m-auto">Dashboard</p>
        </a>
        <% } else { %>
        <a href="/login" class="btn btn-light  me-2 d-flex">
          <p class="m-auto">Login</p>
        </a>


        <% }%>

      </div>

    </div>

  </nav>



  <div class="container-fluid ">
    <style>
      .card-1,
      .card-2,
      .card-3,
      .card-4 {
        position: absolute;
        opacity: 0;
        box-shadow: 2px 2px 5px rgba(63, 63, 63, 0.459);
      }

      .card-1 {
        top: 40%;
        left: 10%;
      }

      .card-2 {
        top: 0%;
        right: 0%;
      }

      .card-3 {
        top: 70%;
        left: 40%;
        right: 0%;
      }

      .card-4 {
        top: 50%;
        left: 30%;
        right: 0%;
      }

      .pm2-progress,
      .pm2-progress2 {
        width: 0%;
        height: 20px;
        background-color: green;
      }

      .rotation {
        transform: rotate(0deg);
        display: inline-block;
      }

      .pop {
        scale: 1;
      }

      @media only screen and (min-width: 768px) {

        /* Adjust styles for screens with a width of 768 pixels or more */
        .card-1,
        .card-2,
        .card-3,
        .card-4 {
          left: 20%;

        }

        .card-4 {
          right: -30%;

        }
      }

      /* Add more media queries for other screen sizes if needed */
    </style>

    <script>
      $(document).ready(function() {
        var tl = gsap.timeline();

        tl.to(".card-2", {
            top: "30%",
            opacity: 1,
            duration: 1.5
          })
          .to(".card-1", {
            top: "20%",
            opacity: 1,
            duration: 1.5
          }, "=0.5")
          .to(".popbtn", {
            scale: 1.05,
            duration: .2
          })
          .to(".popbtn", {
            scale: 1,
            backgroundColor: "green",
            duration: 0.2
          })
          .to(".card-3", {
            top: "50%",
            opacity: 1,
            duration: 1.5
          }, "=0.5")
          .to(".pm2-progress, .pm2-progress2", {
            width: "65%",
            duration: 0.4
          })
          .to(".pm2-progress2", {
            width: "25%",
            duration: 0.4
          })
          .to(".rotation", {
            rotation: 180,
            duration: .4
          })
          .to(".pop", {
            scale: 1.3,
            duration: .4
          })
          .to(".pop", {
            scale: 1,
            duration: 0.1
          })
          .to(".card-4", {
            top: "20%",
            opacity: 1,
            duration: 1
          }, "=0.1");
      });
    </script>


    <!-- <div class="row " style="height: 90vh;">
      <div class="col d-flex ">

        <div class="m-auto">
          <div class="d-flex">
     
            <h1 class="m-0 " style="font-size: 4rem; color: cadetblue; ">KADMIN</h1>
          </div>

          <h2 class="mb-3">Automate Your VPS Server</h2>

          <p class="m-0" style="font-weight: 0px;">"Effortlessly manage your servers with our user-friendly website, </p>
          <p>ensuring seamless performance and optimal security."</p>

          <div class="row">
            <div class="col-6">
              <a href="/login" class="btn btn-light w-100 d-flex"> <p class="m-auto">Login</p></a>

            </div>
            <div class="col-6">
              <a href="/server" class="btn btn-outline-light w-100 d-flex"> <p class="m-auto">Get Started</p></a>

            </div>
          </div>
        </div>

      </div>
      <div class="col d-flex" style="position: relative; margin-bottom: 5rem;">
        <div class="container-fluid" style="height: 300px;">

          <div class="row h-100">
            <div class="border container-fluid bg-primary bg-dark text-light rounded  text-center d-flex flex-colum card-2" style="height: 300px; width: 500px;">
                <div class="row w-100 ">
                    <div class="col-1 bg-black "></div>
                    <div class="col bg-dark  d-flex flex-column">
                        <div class="row mt-2">
                            <div class="col p-2 bg-black m-1 p-3"></div>
                            <div class="col p-2 bg-black m-1"></div>
                            <div class="col p-2 bg-black m-1"></div>
                            <div class="col p-2 bg-black m-1"></div>
                        </div>
                        <div class="row bg-light p-2 mt-2 " style="height: 50%;"></div>
                        <div class="row bg-black text-light mt-auto">logs</div>
                    </div>
                </div>
            </div>

            <div class="border bg-dark rounded p-2 text-light text-center d-flex flex-column card-1" style=" width: 200px;">
                <p>Create Website</p>
                <input type="text" class="form-control mb-2" value="kamingo.in" name="" id="" disabled >
                <button class="btn btn-sm btn-primary popbtn">Create</button>
            </div>

            <div class="border container-fluid bg-primary bg-dark text-light rounded p-1  text-center d-flex flex-colum card-3" style=" max-width: 200px;">
                <div class="d-flex flex-column w-100 text-start">
                    <h6 class="m-0">PM2 APPS</h6>
                    <p class="m-0" style="font-size: 0.6rem;" >Memory</p>
                    <div class="bg-success p-1 pm2-progress " style="height: 15px;" ></div>
                    <p class="m-0" style="font-size: 0.6rem;" >Cpu</p>
                    <div class="bg-success p-1 pm2-progress2" style="height: 15px;" ></div>
                    <div class="bg-black my-1 p-1 rounded-2 d-flex">
                        <i class="fa-solid fa-rotate text-warning pop rotation mx-auto" style="font-size: 1.3rem;"></i>
                        <i class="fa-solid fa-circle-play text-success pop  mx-auto" style="font-size: 1.3rem;"></i>
                        <i class="fa-solid fa-code-pull-request text-primary  pop mx-auto" style="font-size: 1.3rem;"></i>
                        <i class="fa-solid fa-code text-light pop  mx-auto"  style="font-size: 1.3rem;"></i>
                    </div>
                </div>
            </div>

            <div class="border container-fluid bg-primary bg-dark text-light rounded  text-center d-flex flex-column card-4" style=" height: 120px; width: 200px;">
                <p class="m-0">File Explorer</p>
                <div class="row   ">
                    <div class="col-1 bg-dark ">
                        <i class="fa-solid fa-folder text-light " style="font-size: 0.5rem;"></i>
                        <i class="fa-solid fa-folder text-light" style="font-size: 0.5rem;"></i>
                        <i class="fa-solid fa-folder text-light" style="font-size: 0.5rem;"></i>
                    </div>
                    <div class="col bg-dark   d-flex flex-column m-1">
                        <div class="row bg-light text-dark p-2 mt-2 " style="height: 90%;">
                            <p >print("Hello!")</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>



      </div>

    </div> -->




    <div class="row " style="margin-bottom: 5rem;  background-color: rgba(44, 44, 44, 0.308); ">
      <div class="col-md-6 d-flex   ">

        <div class="m-auto text-white ">
          <h1>Automate Your Server</h1>
          <h2 class="fw-light">With Kadmin.online</h2>

          <p class="fw-light m-0 text-muted ">Effortlessly manage your servers with our user-friendly website,</p>
          <p class="fw-light mb-3 text-muted">ensuring seamless performance and optimal security.</p>

          <div class="">
            <a href="/login" class="btn btn-danger  btn-lg mb-1">Get Started <i class="fa-solid fa-rocket"></i></a>

            <a  style="" href="https://www.producthunt.com/posts/kadmin?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-kadmin" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=454953&theme=dark" alt="Kadmin - Automate&#0032;Your&#0032;Server&#0032;With&#0032;Kadmin&#0046;online | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>

          </div>



        </div>


      </div>
      <div class="col-md-6 p-0   d-flex">
        <img class="img-fluid mt-auto ms-auto" src="test.webp" alt="" srcset="">
      </div>

    </div>





    <div class="row" style="margin-bottom: 10rem; ">


      <h1 class="text-center fw-bold">
        Want To Automate Server Management?
      </h1>
      <p class="text-muted text-center mb-4">
          Kadmin provides you with the best server management at an affordable
          cost
      </p>

      <div class="col-md-6 text-center my-3" style="height: 60vh;">
        <div class="text-start rounded-4 h-100 d-flex flex-column m-1" style="background-color: #dc3545">
          <div class="m-auto p-3">
            <h3 class="mb-3">Server Management With Cpanel</h3>
            <p class="m-2">
              <i class="fa-solid fa-circle-xmark"></i> Very Complex To Set Up
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-xmark"></i> Can Screw Up Your
              System
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-xmark"></i> Very Little
              Customization
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-xmark"></i> Can't Do Automations
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-xmark"></i> Very Costly
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center rounded-3 my-3" style="height: 60vh;">
        <div class="text-start rounded-4 h-100 d-flex flex-column m-1" style="background-color: rgb(59, 216, 59)">
          <div class="m-auto p-3">
            <h3 class="mb-3">Server Management With Kadmin</h3>
            <p class="m-2">
              <i class="fa-solid fa-circle-check"></i> Very Easy Setup
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-check"></i> Does Not Screw Up Your
              System
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-check"></i> Customization
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-check"></i> Automations
            </p>
            <p class="m-2">
              <i class="fa-solid fa-circle-check"></i> Not Costly
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row " style="margin-bottom: 5rem; height: 70vh; ">

      <div class="col p-0 d-flex" >
        <iframe class="m-auto d-none d-xl-block " style="border-radius: 1.5rem; border: 3px solid rgb(168, 168, 168) ;" width="60%" height="96%"  src="https://www.youtube.com/embed/GnTM_FFOPJE?si=7IknBr2XnOzRZUti" title="Effortless VPS Server Mastery with Kadmin: Elevate Your Management Game | Kadmin.online" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe class="m-auto d-xl-none d-block " style="border-radius: 1.5rem; border: 3px solid rgb(168, 168, 168) ;" width="100%" height="70%"  src="https://www.youtube.com/embed/GnTM_FFOPJE?si=7IknBr2XnOzRZUti" title="Effortless VPS Server Mastery with Kadmin: Elevate Your Management Game | Kadmin.online" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

      </div>

      <img src="arrow.webp" class="d-xl-block d-none" style="width: 200px; height: 250px; position: absolute; left: 90px;  z-index: 10;" alt="" srcset="">

    </div>



    <div class="row text-center" style="margin-top: 5rem;">
      <h1 class="fw-light">
        ONE CLICK TO SETUP
      </h1>
    </div>





    <div class="row" style="margin-bottom: 5rem;">
      <div class="col border p-2">
        <div class="m-2">
          <h3 class="">Setp 1</h3>

          <h5>LOGIN INTO SSH</h5>
          <p>Login into your ssh using privatekey or if already connected just click connect</p>
          <div class="p-2">
            <img src="ssh.png" class="img-fluid" alt="">

          </div>
        </div>

      </div>
      <div class="col border p-2">
        <div class="m-2">
          <h3 class="">Setp 2</h3>

          <h5>SETUP SERVER</h5>
          <p>Click on setup server to intall all the dependenices on your server</p>
          <div class="p-2">
            <img src="setup.png" class="img-fluid" alt="">

          </div>
        </div>
      </div>
      <div class="col border bg-success d-flex">
        <div class="m-auto">
          <h1 style="font-size: 5rem;">👍</h1>
          <h1>DONE</h1>



        </div>
      </div>
    </div>

    <div class="row d-flex" style="margin-bottom: 5rem;">
      <div class=" col-md-5 col-12 border p-2 d-flex mb-auto shield " style="background-color: #3333FF; height: 50vh;">
        <div class="m-auto">
          <i class="fa-solid fa-shield-heart" style="font-size: 10rem;"></i>
        </div>

      </div>
      <div class="col-md-7 col-12  border d-flex p-2  mb-auto " style="height: 50vh;">

        <div class="m-auto ">
          <h1>Privacy</h1>
          <p class="text-muted">We do not store any of your information also the information we save is encrypted and is not shared at all.</p>

          <div class="col-md-4 ">
            <a href="/server" class="btn btn-primary w-100 text-center d-flex">
              <p class="m-auto">Get Started</p>
            </a>
          </div>
        </div>




      </div>

    </div>

    <div class="row d-flex" id="features">
      <div class="col-md-3 col-12 mt-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-chart-simple" style="font-size: 50px;"></i>
          <h4 class="fw-light">System Status Monitoring</h4>
          <p >Real-time monitoring of system health and status, including CPU usage, memory, and disk space.</p>
        </div>

      </div>
      <div class="col-md-3 col-12 mt-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-clock" style="font-size: 50px;"></i>
          <h4 class="fw-light">Scheduling Feature</h4>
          <p>Schedule tasks and operations for specific times and dates, such as backups and maintenance.</p>
        </div>
      </div>
      <div class="col-md-3 col-12 mt-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-paper-plane" style="font-size: 50px;"></i>
          <h4 class="fw-light">Application Management</h4>
          <p>Create, deploy, and manage Node.js applications. Directly create apps from Git repositories. Start, stop, and restart Node.js applications. Monitor app storage and memory usage. Access app terminal for debugging and management.</p>
        </div>
      </div>
      <div class="col-md-3 col-12 mt-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-folder-open" style="font-size: 50px;"></i>
          <h1 class="fw-light">File Explorer</h1>
          <p>Explore and manage files and directories on the server. Upload, download, and manipulate files easily.</p>
        </div>
      </div>

    </div>
    <div class="row d-flex" style="margin-bottom: 5rem;">
      <div class="col-md-3 col-12 mb-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-globe mb-2" style="font-size: 50px;"></i>
          <h4 class="fw-light">Web Server (Nginx) Usage</h4>
          <p>Configure and manage the Nginx web server for efficient website hosting. Customize server settings and virtual hosts.</p>
        </div>

      </div>
      <div class="col-md-3 col-12 mb-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-gear" style="font-size: 50px;"></i>
          <h4 class="fw-light">Automation</h4>
          <p>Execute custom scripts and commands for advanced server and application management.</p>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-bell" style="font-size: 50px;"></i>
          <h4 class="fw-light">Email Notifications</h4>
          <p>Users can choose to receive important notifications via email, providing an additional layer of redundancy and ensuring they don't miss critical events.</p>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-auto text-center border p-2 d-flex card" style=" height: 50vh;">
        <div class="m-auto ">
          <i class="fa-solid fa-headset" style="font-size: 50px;"></i>
          <h4 class="fw-light">24x7 Support</h4>
          <p>We understand that your business operates around the clock, and so do we. Our commitment to providing constant support ensures that whenever a question arises or an issue needs attention, our dedicated team is ready to assist.</p>
        </div>
      </div>

    </div>

    <div class="row d-flex" style="margin-bottom: 5rem;">

      <div class="col-md-7 col-12  border d-flex p-2  mb-auto " style="height: 50vh;">


        <div class="m-auto ">
          <h1>Automate</h1>
          <p class="text-muted">Automate your server management with kadmin and make everything faster secure and easy to modify.</p>

          <div class="col-md-4  ">
            <a href="/server" class="btn btn-danger w-100 text-center d-flex">
              <p class="m-auto">Get Started</p>
            </a>

          </div>
        </div>


      </div>
      <div class=" col-md-5 col-12 border p-2 d-flex mb-auto shield " style="background-color: #ff3333; height: 50vh;">
        <div class="m-auto">
          <i class="fa-solid fa-gear fa-spin" style="font-size: 10rem;"></i>
          <i class="fa-solid fa-star-of-life fa-spin" style="font-size: 5rem;"></i>
          <i class="fa-solid fa-xmark fa-spin" style="font-size: 2rem;"></i>

          <!-- <i class="fa-solid fa-shield-heart" ></i> -->
        </div>

      </div>
    </div>


    <div class="row d-flex checker" style="margin-bottom: 5rem;">

      <div class="col  d-flex p-2  mb-auto " style="height: 50vh;">

        <div class="m-2   m-auto text-center p-2 w-100 mx-3  ">
          <p class="fw-bold" style="font-size: 4rem;">Faster Then PUTTY</p>

        </div>



      </div>
      <div class=" col p-2 d-flex mb-auto " style=" height: 50vh;">
        <div class="m-2 m-auto text-center p-2 w-100 mx-3 ">
          <p class="fw-bold" style="font-size: 4rem;">Automate Your SSH</p>
        </div>


      </div>

      <div class=" col  p-2 d-flex mb-auto " style=" height: 50vh;">
        <div class="m-2  m-auto text-center p-2 w-100 mx-3 ">
          <p class="fw-bold" style="font-size: 4rem;">Made SSH Simple</p>
        </div>


      </div>


    </div>


    <div class="row  bg-dark p-3 d-flex" style="min-height: 60vh;">


      <div class="row m-auto">


        <div class="col text-center">
          <div class=" justify-content-center">
            <img src="kadmin.png" class=" my-2" alt="" srcset="" width="50px">
            <a class="navbar-brand fw-bold " href="#">KADMIN</a>
            <div class="text-start">
              <p class="fw-light m-0 text-muted ">Effortlessly manage your servers with our user-friendly website,</p>
              <p class="fw-light mb-3 text-muted">ensuring seamless performance and optimal security.</p>
            </div>

          </div>
        </div>
        <div class="col text-center d-flex flex-column">
          <h5 class="text-start text-secondary ">Socials</h5>
          <div class="m-3 text-start fw-light">
            <a href="https://www.linkedin.com/in/rajvendra-rahi-42060a218/"><i class="fab fa-linkedin"></i> LinkedIn</a>

          </div>


          <div class="m-3 text-start fw-light">
            <a href="https://twitter.com/RajvendraRahi"><i class="fa-brands fa-x-twitter"></i> Twitter</a>
          </div>

          <div class="m-3 text-start fw-light">
            <a href="https://www.facebook.com/rajvendra.rahi"><i class="fa-brands fa-facebook"></i> Facebook</a>

          </div>

        </div>
        <div class="col text-center d-flex flex-column">
          <h5 class="text-start text-secondary">Contact Us</h5>
          <div class="m-3 text-start fw-light">
            <a href="mailto:rajvendrarahi126@gmail.com"><i class="fa-solid fa-at"></i> Email</a>
          </div>




          <div class="m-3 text-start fw-light">
            <a href="tel:+918109204371"><i class="fa-solid fa-square-phone"></i> Contact</a>

          </div>

        </div>
        <div class="col text-center  d-flex flex-column">
          <h5 class="text-start text-secondary ">Navigation</h5>
          <div class="m-3 text-start fw-light"> <a href="/">Home</a>
          </div>
          <div class="m-3 text-start fw-light"> <a href="/#features">Features</a></div>
          <div class="m-3 text-start fw-light"> <a href="/">Pricing</a></div>




        </div>


      </div>
      <p class="text-center m-0">© Kadmin 2024</p>
    </div>

  </div>





</body>


</html>