<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SSH Web Interface</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .output-terminal {
            background-color: #000;
            color: #fff;
            font-family: "Courier New", monospace;
            padding: 10px;
            border: 1px solid #333;
        }


        .folder{
            cursor: pointer;
        }

        .btn{
            background-color: #2F4F4F;
            border-radius: 2rem;
            border: none;
            box-shadow: 4px 4px #2a2a2a;
        }
        /* .list-group .list-group-item{
            border: none;
        } */
    </style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Domine&family=Inclusive+Sans&family=Josefin+Sans:wght@400;700&family=Montserrat&family=Noto+Sans+JP&family=Oswald:wght@500;600&family=Plus+Jakarta+Sans:wght@500&family=Poppins:wght@300;700&family=Roboto+Mono:wght@400;500&family=Roboto+Slab&family=Rubik:wght@600&family=Tajawal:wght@700&family=Ysabeau+Infant:wght@700&display=swap');
  </style>
</head>
<body style="font-family: 'Inclusive Sans', sans-serif;">
    <div class="container">
        <nav class="navbar p-0 navbar-expand-lg navbar-light bg-white" style="font-family: 'Rubik', sans-serif;">
            <a class="navbar-brand me-auto" href="/">
              <h5 class="fw-bold" style="color: cadetblue;">
                <img src="kadmin.png" alt="" width="40px" srcset="">
                KADMIN.ONLINE
              </h5>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
          
          
          </nav>
          
          <!-- Add the Bootstrap 5.3 JavaScript file -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
      
        <!-- <h1 class="mb-4">SSH Web Interface</h1> -->
        <form id="sshForm" style="display: none;" class="mb-4">

            <div class="mb-3">
                <label for="command" class="form-label">Command:</label>

                <textarea class="form-control text-light" name="command" id="command" cols="30" rows="10" style="background-color: black;" ></textarea>
                <!-- <input type="text" name="command" id="command" placeholder="Enter a command"> -->
              
              
                <!-- <input type="text" name="command" id="command" class="form-control" required> -->
            </div>
            <button class="btn btn-light btn-sm mt-2" type="submit"  hx-post="/execute" id="exe" hx-target="#output">Execute Command</button>

        </form>



        <div class="row"  >
          <p>safsf</p>
            <div class="col-md-2 p-2">
   
                    <ul class="list-group ">
                        <li class="list-group-item"><a class="btn btn-primary " hx-get="/status" hx-target="#home" ><i class="fa-solid fa-gauge"></i> Dashboard</a></li>
                        <li class="list-group-item "> <a class="btn btn-primary" hx-get="/terminal"  hx-target="#home"   ><i class="fa-solid fa-terminal"></i> Terminal</a> </li>
    
                        <li class="list-group-item "> <a class="btn btn-primary" hx-get="/apps" hx-target="#home" id="apps"   ><i class="fa-solid fa-laptop-code"></i> Pm2 Apps</a> </li>
                        <li class="list-group-item "> <a class="btn btn-primary" hx-get="/gitrepos" hx-target="#home" id="folder" onclick="resetpath()" ><i class="fa-solid fa-folder"></i> Folders</a> </li>
                        
                        <li class="list-group-item "> <a class="btn btn-primary" hx-get="/scripts" hx-target="#home" id="folder"  ><i class="fa-solid fa-gear"></i> Scripts</a> </li>
    
                        <li class="list-group-item "> 
                            <a class="btn btn-primary" hx-get="/website" hx-target="#home">
                            <i class="fa-solid fa-globe"></i> Website
                            </a> 
                        </li>
    
                        <li class="list-group-item "> <a class="btn btn-primary" hx-get="/sqlite" hx-target="#home"   ><i class="fa-solid fa-database"></i> SQLite3</a> </li>
    
                    </ul>
             

            </div>
            <div class="col-md-10 border  mt-2 rounded-2" id="home"  >
               
                 

                <%- include('./partials/status.ejs') %>
                


            </div>
        </div>


    </div>

    <script>
            var user =   "<%= sysuser %>";


           var path = `/${user}/app/`;
           function resetpath() {
            
            path= `/${user}/app/`;
           }
    </script>
</body>
</html>
