<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>

<body >
    <div class="container" style="font-family: 'Rubik', sans-serif; color: cadetblue;"> 
        <div class="row">
            <div class="col">
                <h1>Login SSH</h1>
                
                <div class="border p-2 rounded-2 mb-2 ">
                    <h5 class="text-success m-0" > 🔑 We prioritize your data security and privacy, and "WE DO NOT STORE ANY OF YOUR SERVER INFORMATION."</h5>
        
                </div>
                <form id="sshForm" action="/connect" method="post"  class="mb-4">
                    <div class="mb-3">
                        <label for="host" class="form-label">Host:</label>
                        <input type="text" value="<%= locals.ssh.host %>" name="host" id="host" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" name="username" value="<%= locals.ssh.username %>" id="username" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password" name="password" value="<%= locals.ssh.password %>" id="password" class="form-control" required>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="command" class="form-label">Command:</label>
                        <input type="text" name="command" id="command" class="form-control" required>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>

        </div>

    </div>
</body>
</html>
