<!DOCTYPE html>
<html>
<head>
  <title>PM2 Logs</title>
</head>
<body>
  <h1>PM2 Logs</h1>
  <ul id="log-list"></ul>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('log', (logLine) => {
      const logList = document.getElementById('log-list');
      const logItem = document.createElement('li');
      logItem.textContent = logLine;
      logList.appendChild(logItem);
    });
  </script>
</body>
</html>
